################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExternalLogicTemplating/.vs/ExternalLogicTemplating
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Debug/net6.0
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/ExternalLogicTemplating.deps.json
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/ExternalLogicTemplating.dll
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/ExternalLogicTemplating.pdb
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/ICSharpCode.SharpZipLib.dll
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/OutSystems.FrameworkExtensions.dll
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/OutSystems.MetaModel.dll
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/OutSystems.Model.Implementation.Extensions.dll
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/OutSystems.Zip.dll
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/publish
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/SandboxVictor.deps.json
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/SandboxVictor.dll
/ExternalLogicTemplating/ExternalLogicTemplating/bin/Release/net6.0/linux-x64/SandboxVictor.pdb
/ExternalLogicTemplating/ExternalLogicTemplating/obj/Debug/net6.0
/ExternalLogicTemplating/ExternalLogicTemplating/obj/ExternalLogicTemplating.csproj.nuget.dgspec.json
/ExternalLogicTemplating/ExternalLogicTemplating/obj/ExternalLogicTemplating.csproj.nuget.g.props
/ExternalLogicTemplating/ExternalLogicTemplating/obj/ExternalLogicTemplating.csproj.nuget.g.targets
/ExternalLogicTemplating/ExternalLogicTemplating/obj/project.assets.json
/ExternalLogicTemplating/ExternalLogicTemplating/obj/project.nuget.cache
/ExternalLogicTemplating/ExternalLogicTemplating/obj/Release/net6.0/linux-x64
/ExternalLogicTemplating/ExternalLogicTemplating/obj/SandboxVictor.csproj.nuget.dgspec.json
/ExternalLogicTemplating/ExternalLogicTemplating/obj/SandboxVictor.csproj.nuget.g.props
/ExternalLogicTemplating/ExternalLogicTemplating/obj/SandboxVictor.csproj.nuget.g.targets
/ExternalLogicTemplating/ExternalLogicTemplating/generate_upload_package.ps1
/ExternalLogicTemplating/.vs/ProjectEvaluation
/ExternalLogicTemplating/ExternalLogicTemplatingTest/bin/Debug/net6.0
/ExternalLogicTemplating/ExternalLogicTemplatingTest/obj
